{% extends 'glover/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if profile %}
		{{ profile.username }}
	{% else %}
		Unknown Profile
	{% endif %}
{% endblock %}

{% block body_block %}

	<div>
        {% if user.is_authenticated %}
            <a href="{% url 'glover:discover' %}">Discover</a>
			<a href="{% url 'glover:matches' %}">Matches</a>
            <a href="{% url 'glover:logout' %}">Logout</a>
            <a href="{% url 'glover:profile' %}">Profile</a>
        {% endif %}
    </div>

	{% if profile %}
		
		<h1>{{ profile.user.first_name }}'s Profile</h1>
		<p>Name: {{ profile.user.first_name }}</p>
		<p>Gender: {{ profile.get_gender_display }}</p>
		<p>Age: {{ profile.get_age }}</p>
		<p>Bio: {{ profile.bio }}</p>
		<p>Location: {{ profile.location }}</p>
		<p>Favourite Library Floor: {{ profile.library_floor }}</p>
		<p>Looking For: {{ profile.get_looking_for_display }}</p>
		<p>Studies: {{ profile.course.course }}</p>
		<p>Year of Study: {{ profile.year_in }}</p>

		<p>Interests:
		<ul>
			{% for interest in profile.get_interests %}
				<li> {{ interest.interest }} </li>
			{% endfor %}
		</ul>
		</p>

		<p>Societies:
		<ul>
			{% for society in profile.get_societies %}
				<li> {{ society.society }} </li>
			{% endfor %}
		</ul>
		</p>

	{% else %}
		There is no one here.
	{% endif %}
{% endblock %}
