{% extends 'glover/base.html' %}
{% load static %}
{% load glover_tags %}

{% block title_block %}
	Edit My Photos
{% endblock %}

{% block body_block %}

    <div class="container">
        <div>
            <h2 class="text-center mb-4 mt-2 MainHeadings"><strong>Upload Your Photos</strong></h2>
        </div>

        <br/>
        <div class="row justify-content-center" id="uploaded-photos">
            
            {% if user.profile.image1 %}
                <div class="col-lg-2 col-sm-4 text-center">
                    <img class="md-img img-responsive" src="{{ user.profile.image1.url }}" alt="Picture of {{ user.first_name }}"/>
                    <br />
                    <button class="mt-2 btn btn-danger btn-sm" id="delete-img1">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>
                </div>
            {% endif %}
            
            {% if user.profile.image2 %}
                <div class="col-lg-2 col-sm-4 text-center">
                
                    <img class="md-img img-responsive" src="{{ user.profile.image2.url }}" alt="Picture of {{ user.first_name  }}"/>
                    <br />
                    <button class="mt-2 btn btn-danger mb-2 btn-sm" id="delete-img2">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>
                </div>
            {% endif %}

            {% if user.profile.image3 %}
                <div class="col-lg-2 col-sm-4 text-center">
                    <img class="md-img img-responsive" src="{{ user.profile.image3.url }}" alt="Picture of {{ user.first_name  }}"/>
                    <br />
                    <button class="mt-2 btn btn-danger btn-sm" id="delete-img3">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>        
                </div>
            {% endif %}

            {% if user.profile.image4 %}
                <div class="col-lg-2 col-sm-4 text-center">
                    <img class="md-img img-responsive" src="{{ user.profile.image4.url }}" alt="Picture of {{ user.first_name }}"/>
                    <br />
                    <button class="mt-2 btn btn-danger btn-sm" id="delete-img4">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>
                </div>
            {% endif %}

            {% if user.profile.image5 %}
                <div class="col-lg-2 col-sm-4 text-center">
                    <img class="md-img img-responsive" src="{{ user.profile.image5.url }}" alt="Picture of {{ user.first_name }}"/>
                    <br />
                    <button class="mt-2 btn btn-danger btn-sm" id="delete-img5">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>
                </div>
            {% endif %}
        </div>

        <form method="POST" class="dropzone mt-5" id="edit-photos-form" action="{% url 'glover:edit-photos' %}" enctype="multipart/form-data">
            {% csrf_token %}
        </form>

        <div class="text-center mb-5">
            <a href="{% url 'glover:edit-photos' %}">
                <button class="btn btn-primary btn-lg mt-4 ">Reload Page</button>
            </a>
        </div>
    </div>

{% endblock %}

{% block js %}

<script>

    var numImages = $(".md-img").length

    Dropzone.options.editPhotosForm = {
        maxFiles: 5 - numImages,
        parallelUploads: 1,
        init: function() {
            this.on("success", function(file, response) {
                html = `<div class="col-lg-2 col-sm-4 text-center">
                    <img class="md-img img-responsive" src="${response.imgpath}" alt="picture"/>
                    <br />
                    <button class="mt-2 btn btn-danger btn-sm" id="delete-img${response.imgnum}">
                        <img class="profile-icon" src="{% static 'images/cancel.png' %}" alt="delete"/>
                    </button>
                </div>`;

            $("#uploaded-photos").append(html)
            });
        }
    };

    function getJson(response) {
        return response.json()
    }

    function reloadPage(data) {
        window.location = data.url
    }

    $(".row").on("click", "button", function() {
        var id = $(this).attr("id")
        var url = "/ajax/delete-photo"
        
        switch (id) {
            case "delete-img1":
                fetch(url + "?img=img1").then(getJson).then(reloadPage)
                break
            case "delete-img2":
                fetch(url + "?img=img2").then(getJson).then(reloadPage)
                break
            case "delete-img3":
                fetch(url + "?img=img3").then(getJson).then(reloadPage)
                break
            case "delete-img4":
                fetch(url + "?img=img4").then(getJson).then(reloadPage)
                break
            case "delete-img5":
                fetch(url + "?img=img5").then(getJson).then(reloadPage)
                break
        }
    })


</script>

<br/><br/>

{% endblock %}