{% extends 'glover/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }}'s Profile
{% endblock %}

{% block body_block %}

	<h1>Username: {{ user.username }}</h1>
	<p>Name: {{ profile.user.first_name }}</p>
	<p>Gender: {{ profile.get_gender_display }}</p>
	<p>Date of Birth: {{ profile.dob }}</p>
	<p>Bio: {{ profile.bio }}</p>
	<p>Location: {{ profile.location }}</p>
	<p>Favourite Library Floor: {{ profile.library_floor }}</p>
	<p>Looking For: {{ profile.get_looking_for_display }}</p>
	<p>Studies: {{ profile.course.course }}</p>
	<p>Year of Study: {{ profile.year_in }}</p>

	<p>Interests:
	<ul>
	{% for interest in profile.get_interests %}
		<li> {{ interest.interest }} </li>
	{% endfor %}
	</ul>
	</p>

	<p>Societies:
	<ul>
	{% for society in profile.get_societies %}
		<li> {{ society.society }} </li>
	{% endfor %}
	</ul>
	</p>

	<a href="{% url 'glover:discover' %}">Back to discover</a>

{% endblock %}
