{% extends 'glover/base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Profile
{% endblock %}

{% block body_block %}

<div class="container">
	<h1 class="text-center mb-4 BigHeadings"><strong>My Profile</strong></h1>
	<div class="row my-5">

		<div class="col-sm-12 col-lg-6">
			<div class="text-center col-lg-12">
				{% if user.profile.image1 %}
					<img class="big-img" src="{{ user.profile.image1.url }}" alt="Picture of {{ user.first_name }}"/>
				{% else %}
					<img class="big-img" src="{% static 'images/default_user.jpg' %}" alt="Default image" />
				{% endif %}
			</div>

			<div class="flex-container row col-lg-12">
				{% if user.profile.image2 %}
					<div class="flex-item">
						<img class="small-img img-responsive" src="{{ user.profile.image2.url }}" alt="Picture of {{ user.first_name }}"/>
					</div>
				{% endif %}

				{% if user.profile.image3 %}
					<div class="flex-item">
						<img class="small-img img-responsive" src="{{ user.profile.image3.url }}" alt="Picture of {{ user.first_name }}"/>
					</div>
				{% endif %}

				{% if user.profile.image4 %}
					<div class="flex-item">
						<img class="small-img img-responsive" src="{{ user.profile.image4.url }}" alt="Picture of {{ user.first_name }}"/>
					</div>
				{% endif %}

				{% if user.profile.image5 %}
					<div class="flex-item">
						<img class="small-img img-responsive" src="{{ user.profile.image5.url }}" alt="Picture of {{ user.first_name }}"/>
					</div>
				{% endif %}
			</div>
		</div>
		

		<div class="col-sm-12 col-md-6 col-lg-6">

			<p>Name: {{ profile.user.first_name }}</p>
			<p>Gender: {{ profile.get_gender_display }}</p>
			<p>Age: {{ profile.get_age }}</p>
			<p>Bio: {{ profile.bio }}</p>
			<p>Location: {{ profile.location }}</p>
			<p>Favourite Library Floor: {{ profile.library_floor }}</p>
			<p>Looking For: {{ profile.get_looking_for_display }}</p>
			<p>Studies: {{ profile.course.course }}</p>
			<p>Year of Study: {{ profile.year_in }}</p>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<p>Interests:
			<ul>
			{% for interest in profile.get_interests %}
				<li> {{ interest.interest }} </li>
			{% endfor %}
			</ul>
			</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<p>Societies:
			<ul>
			{% for society in profile.get_societies %}
				<li> {{ society.society }} </li>
			{% endfor %}
			</ul>
			</p>
		</div>
	</div>

	<div class="row btn-toolbar justify-content-center my-5">
	    <a class="btn btn-warning btn-sm mr-2" href="{% url 'glover:edit-profile' %}">Edit Profile</a>
	    <a class="btn btn-warning btn-sm mr-2" href="{% url 'glover:edit-photos' %}">Edit Photos</a>
	</div>
	
</div>

{% endblock %}
