{% extends 'glover/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}

	<div>
		<a href="{% url 'glover:index' %}">Home</a>
		<a href="{% url 'glover:about' %}">About</a>
		<a href="{% url 'glover:login' %}">Login</a>
    </div>

	<h1>REGISTER</h1>
	<form id="user_form" method="post" action="{% url 'glover:register' %}" enctype="multipart/form-data">
		{% csrf_token %}

		{{ registration_form|crispy }}

		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="SIGN UP" />
		<br/>
	</form>
	<p>Already have an account?  <a href="{% url 'glover:login' %}">Sign In!</a></p>
{% endblock %}