.carousel-caption{
   max-height: 100%;
	padding-bottom: 170px;
}

.carousel-caption h3{
	text-shadow: 2px 2px 4px #000000;
}

@media all and (min-width: 801px) {
   .carousel-caption h3 {
      font-size: 50px;
      margin-top: 20px;
   }
   .carousel-caption p {
      font-size: 40px;
   }
}

@media all and (max-width: 800px) {
   .carousel-caption h3 {
      font-size: 25px;
      margin-top: 10px;
   }
   .carousel-caption p {
      font-size: 23px;
   }
}

.carousel-caption p{
	font-family: 'Parisienne', cursive;
	text-shadow: 2px 2px 4px #000000;
}

.photos{
   display: inline-block;
}

.circular--square {
  border-radius: 70%;
  width: 250px;
  height: 250px;
  border: 3px solid;
  margin: 50px;
}

.caption{
    width: 100%;
    text-align:center;
    font-size: 20px;
    
}

.teamName {
    font-size: 50px;
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 2px 4px #e39000;
    color: #000099;
    font-weight: 900;
}

.BigHeadings {
    font-size: 67px;
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 2px 4px #e39000;
    color: #000099;
    text-align: center;
    
}

.MainHeadings {
   font-size: 80px;
   font-family: 'Parisienne', cursive;
   text-shadow: 2px 2px 4px #e39000;
   color: #000099;
   text-align: center;
}

.UpperSection {
  position: relative;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto 2fr auto;
}

.UpperSectionItem1 {
   grid-column: 1;
   grid-row: 1;
}

.UpperSectionItem2 {
   grid-column: 2;
   grid-row: 1 / span 2;
}

.UpperSectionItem3 {
   grid-column: 1;
   grid-row: 2;
}

blockquote {
  font-family: 'Fira Mono', monospace;
  display: block;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 1.55em;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #000000;
  text-align: center;
}