.small-img {
	object-fit: cover;
	width: 80px;
	height: 80px;
}

.md-img {
	object-fit: cover;
    width: 150px;
    height: 150px;
}

.big-img {
	object-fit: cover;
	width: 450px;
	height: 450px;
}

.stats {
	max-width: 350px;
	max-height: 350px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* to center flex-items */
  .flex-item {
     margin: auto;
  }

.img-responsive {
  	max-width: 100%;
}

.nav-link {
  	font-size: 16pt;
}

.nav-link:hover {
	background-color:#eef7fd;
	box-shadow: 0 0 2px 1px #008080;
}

.body-block {
  	padding-top: 20px;
}

.footer {
	  background-color: #e3f2fd;
}

/* styling to make the footer stay at the bottom */

html, body {
	height: 100%;
	margin: 0;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	margin-bottom: -60px;
}

#app-content {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer,
.push {
  	height: 60px;
}

/* end of footer positioning */

.card {
	background-color: #EFF7F7;
	box-shadow: 0 0 1px 2px #008080;
}

.card-img-top {
	object-fit: cover;
	height: 100%;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.card-size {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-header {
	background-color: #008080;
}

.profile-card .card-img-top {
	width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.carousel-item .img-fluid {
	width: 100%;
	height: 100%;
  }

.img-link:hover {
	box-shadow: 0 0 3px 2px #008080;
}

.carousel {
	width: 100%;
	max-height: 525px;
	overflow: hidden;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner > .carousel-item > img {
	height: 525px !important;
	object-fit: cover;
}

.list-circles {
    padding-left: 20px !important;
    list-style: circle;
}

.profile-icon {
	object-fit: cover;
	width: 30px;
	height: 30px;
}

/* -----Chat scrollbar------ */

.scrollbar-cyan::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
	
.scrollbar-cyan::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
	
.scrollbar-cyan::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #00bcd4;
}
	
.scrollbar-cyan {
	scrollbar-color: #00bcd4 #F5F5F5;
}

.bordered-cyan::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	border: 1px solid #00bcd4;
}
	
.bordered-cyan::-webkit-scrollbar-thumb {
	-webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
	border-radius: 0 !important;
}
	
.square::-webkit-scrollbar-thumb {
	border-radius: 0 !important;
}
	
.thin::-webkit-scrollbar {
	width: 6px;
}
	
.chat-with-bar {
	position: relative;
	overflow-y: scroll;
	height: 480px;
}

.chatbar {
	position: relative;
	overflow-y: scroll;
	height: 400px;
}