.logo {
    max-height: 150px;
    padding: 10px 5px 10px 5px;
}

.small-img {
    max-width: 80px;
    max-height: 80px;
}

.md-img {
    max-width: 150px;
    max-height: 150px;
}

.big-img {
    max-width: 350px;
    max-height: 350px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* to center flex-items */
  .flex-item {
     margin: auto;
  }

.btn-toolbar a {
    width: 140px;
}

.img-responsive {
  max-width: 100%;
}

.nav-link {
  font-size: 14pt;
}

.body-block {
  padding-top: 20px;
}



.footer {
  background-color: #e3f2fd;
}



/* styling to make the footer stay at the bottom */

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -70px;
}
.footer,
.push {
  height: 70px;
}

/* end of footer positioning */

.card-img-top {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}


.card-size {
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}